html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
  display: none;
}
body{overflow-x: hidden;}

@media screen and (max-width: 1350px){
  #scrolltotop{
    display:none !important;
  }
}
@media only screen and (max-width: 600px) {
  li{
    display:none;
  }
  #logoimg{
    display: none;
  }

}
#logoimg{
  transition: 0.5s;
  width: 140px;
}
h3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#scrolltotop{
  background-color: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.055);
  width: 60px;
  height: 60px;
  position:fixed;
  left: 20px;
  bottom: 20px;
  display: none;
  transition: 0.3s;
  opacity: 0.7;
}
#scrolltotop:hover{
 opacity: 1;
}

nav{
    background-image: linear-gradient(to right,#052630de, #10779600);
    overflow: hidden;
    padding: 2rem 2rem;
    transition: 0.5s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
#logo{
  padding-left: 0.75rem;
}
nav a{
    color: #109796;
    cursor: pointer;
    /* transition: 0.5s; */
}
nav a:hover{
    color: #107796;
}
#services{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: #f1f1f1;
}
#services h1{
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 100%;
  padding-bottom: 1rem; */
  text-align: center;
}
.col-md-3{
  text-align: center;
  /* background-color: #f1f1f1; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.3s;
  transition-delay: 0.1s;
  border: 1px solid rgba(211, 211, 211, 0.219);
}
.col-md-3:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(255, 255, 255, 0.774);
}
.col-md-3 i{
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 1rem;
}


.carousel{
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-inline: 0.75rem;
  background-color: #efefef; */
  padding-bottom: 0.5rem;
}

.carousel-inner img {
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 800px;

  }
  .footercontainer{
    background-image: linear-gradient(to top,#000000, #031318cb);
    padding-top: 2rem;
  }
  .footercontainer .col-md-6,.footercontainer .col-md-6 p{
    text-align: center;
    color: whitesmoke;

  }
  #mapfooter{
    background-image: url(images/map_footer.png);
    background-repeat: no-repeat;
    background-size: 40%;
    position: relative;
    background-position: center center;
  }
  
  #footerlogo{
    width: 190px;
    margin-bottom: 2rem;
  }
  #copyright {
    background-color: black;
    position: static;
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
  }


* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display:table-column-group;
  }

  input[type=submit] {
    background-color: #109796;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    float: left;
  }

  input[type=submit]:hover {
    background-color: #107796;
  }
  textarea[name=comment]{
    resize: none;
  }

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

